* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("../images/dark_pattern.jpg") repeat;
}

#bienvenue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 0px;
  border-radius: 10px 10px;
  height: 100%;
  width: 100%;
}

.velovimg {
  width: 10%;
  vertical-align: -11px;
}

.villeimg {
  width: 30%;
}

#bienvenue a {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 10px 10px;
  background-color: #0066B1;
  width: 20%;
  height: 22%;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

#bienvenue a:hover {
  background-color: #E10203;
}

.slideshow-container {
  max-width: 1000px;
  height: 500px;
  position: relative;
  margin: auto;
}

#slideshow {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
/* 
début code diaporama */
.mySlides img {
  border-radius: 10px 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.8)
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.fa-angle-double-left,
.fa-angle-double-right {
  color: #E10203;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 10px 10px;
}

.text span {
  color: #E10203;
}

.text img {
  vertical-align: middle;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0066B1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* .mySlides {
  display: none;
}







.active,
.dot:hover {
  background-color: #E10203;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
} */

/* #diaporama h2 {
  position: absolute;
  top: 20px;
}

#diaporama {
  background-color: #1A171B;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.diapo1 {
  position: relative;
  width: 100%;
  height: 100%;
}

#diaporama h3 {
  color: white;
}

#icon {
  width: 56px;
  height: 56px;
  vertical-align: middle;
}

#boutons {
  z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

button {
	background-color: #E10203;
	border-radius: 50%;
	border-style: none;
	font-size: 20px;
	color: white;
	height: 55px;
	width: 55px;
	cursor: pointer;
} 

header img {
  width: 100%;
}
*/

header {
  width: 100%;
  margin: auto;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  height: 600px;
  margin: 10px;
  position: relative;
}

#map {
  width: 100%;
  border-radius: 10px 10px;
  margin-right: 10px;
}

aside {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  display: none;
  padding: 20px;
  width: 500px;
  border-radius: 10px 10px;
}

.footer {
  height: 400px;
  background-color: coral;
  border-radius: 10px 10px;
}
